.title {
    color: white;
    background-color: gray;
    display: block;
    font-family: Arial;
    text-align: left;
    width: 100%;
    padding: 0 20px;
    font-size: 65px;
    margin: 0 0;
}

.main {
    text-align: center;
    border: 4px;
    border-color: black;
    margin-top: 40px;
}

.welcome {
    font-family: Arial;
}
