.title {
    color: white;
    background-color: gray;
    display: block;
    font-family: Arial;
    text-align: left;
    width: 100%;
    padding: 10px 20px;
    font-size: 90px;
    margin: 0 auto;
}

.welcome {
    top: 50px;
    text-align: center;
    font-family: Arial;
}
