.title {
    color: white;
    background-color: gray;
    display: block;
    font-family: Arial;
    text-align: left;
    width: 100%;
    font-size: 100px;
}

.welcome {
    top: 50px;
    text-align: center;
    font-family: Arial;
}
